## Goal
In our project we will use one data mining task to help us predict the possibility of having cardiovascular diseases which is classification. We will train our model to be able to classify if the patient has cardiovascular diseases or not using (cardio) class based on a set of medical examinations like diastolic blood pressure, Systolic blood pressure, height, weight etc.

## Source:
[Link text](https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset?resource=download&select=cardio_train.csv)

## General information abour our dataset:

No. of obj: 500

Class name: cardio

- ID: numerical value, it identifies the participants 
- Age: numerical value, it identifies the participant’s age
- Gender: Binary value, (1) for female (2) for male
- Height: numerical value, identifies the height of the participant in cm
- Weight: numerical value, identifies the weight of the participant in kg
- ap_hi: numerical value (interval), it represents the systolic blood pressure 
- ap_lo: numerical value(interval), it represents the diastolic blood pressure
- Cholesterol: ordinal value, (1) Normal, (2) above normal, (3) well above normal 
- Gluc: ordinal value, (1) Normal, (2) above normal, (3) well above normal
- Smoke: Binary value(asy), (1) yes, (0) no
- Alco: Binary value(asy), (1) yes, (0) no
- Active: Binary value(asy), (1) yes, (0) no
- Cardio: Binary value(asy), (1) yes, (0) no

In [7]:
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()
iris_df = pd.DataFrame(data=iris.data, columns = iris.feature_names)
df = pd.read_csv('cardio_train.csv')
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000